<audio id="myAudio">
  <source src="" type="audio/mpeg">
</audio>

<h1 class="words">Music</h1>
<div class="hero-image">
  <div class="hero-text text-center">
    <form class="d-flex text-center">
      <input style="width: 300px;" class="form-control me-2" type="search" placeholder="Enter Song Title" aria-label="Search" id="songSearch">
      <button class="btn btn-danger" type="submit" id="songSearchBtn">Search</button>
    </form>
  </div>
</div> 

<!--- SEARCHED SONG --->
<h1 class="words">Searched Song's</h1>
<div id="searchedSongContainer" class="displayNone">
  <div id="searchedSongRow" class="row">
  </div>
</div>

<!--- CREATED PLAYLIST-->
<h2 class="words">Playlist</h2>
<hr class="hr">
<div class="container">
  <div class="row">
    {{#each playlist}}
    {{#each this.songs}}
    <div class="col-sm-4">
      <div class="userList">
        <p class="words">Playlist: Video Games</p>
        <img class="songImg" id="im"
          src="{{this.album_cover}}"
          alt="Album Cover Image">
          <p class="words">Artist: {{this.artist}}</p>
          <p class="words">Song: {{this.song_name}}</p>
          <button type="button" class="btnPlay btn btn-success" onClick="playSong('{{this.songURL}}')">Play Song</button>
          <button type="button" class="btnPlay btn btn-success" onClick="pauseSong()">Pause Song</button>
      </div>
    </div>
    {{/each}}
    {{/each}}
  </div>
</div>
