  <!--- RECOMMENDED PLAYLIST-->
  <h2 style="color:white; text-align: center;">Popular Songs!</h2>
  <div class="container">
    <div class="row">
      {{#each party_playlist}}
      <div class="col-sm-3">
        <div class="userList">
          <img class="songImg" id="im"
            src="https://media.architecturaldigest.com/photos/5890e88033bd1de9129eab0a/4:3/w_960,h_720,c_limit/Artist-Designed%20Album%20Covers%202.jpg"
            alt="kanye West album cover, teddy bear">
          <p class="words">Artist: Kanye West</p>
          <p class="words">Album: Graduation</p>
          <button type="button" class="btn btn-success" id="playSong">Play</button>
          <button type="button" class="btn btn-success" id="addSong">Add Song</button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <!---PLAYLIST-->
  <h2 style="color:white; text-align: center;">Your created Playlist!</h2>
  <div class="container">
    <div class="row">
      {{#each Playlist}}
      <div class="col-sm-3">
        <div class="userList">
           <img class="songImg" id="albumIcon"
            src="{{this.album_cover}}"
            alt="kanye West album cover, teddy bear">
          <p class="words">Title: {{this.plName}}</p>
          {{!-- <p class="words" id="artistName">Artist: {{this.artist}}</p> --}}
          <button type="button" class="btn btn-success">Play</button>
          <button type="button" class="btn btn-success">Add Song</button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>