<div class="hero-image">
  <div class="hero-text text-center">
    <h1>Music</h1>
    <form class="d-flex text-center">
      <input style="width: 300px;" class="form-control me-2" type="search" placeholder="Enter Song Title" aria-label="Search" id="songSearch">
      <button class="btn btn-danger" type="submit" id="songSearchBtn">Search</button>
    </form>
  </div>
</div> 

<!--- CREATED PLAYLIST-->
<h2 style="color:white; text-align: center;">Your created Playlist's!</h2>
<div class="container">
  <div class="row">
    {{#each playlist}}
    <div class="col-sm-3">
      <div class="userList">
        <p class="words">Playlist: {{this.plName}}</p>
        <button type="button" class="btn btn-success">Go to playlist</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>